.content {
  text-align: center;
  margin-block: 3rem;
}

.illustration{
    padding-bottom: 1rem;
}

.option {
  padding-block: 0.8rem;
  border-top: 0.1rem solid var(--greyishBlue);
}

.active{
    padding-block: 0.8rem;
    border-bottom: 0.2rem solid red;
    color: var(--darkBlue);
}
.option:nth-child(3) {
  border-bottom: 0.1rem solid var(--greyishBlue);
}


.blue-thing {
  border-radius: 0 0 3rem 0;
  top: 4rem;
  left: -3rem;
}
.bookmark-p{
    margin-top: 1rem;
}
.more-info {
  display: none;
}
